body {
    font-family: Helvetica;
  }

#logoimage {
    text-align: center;
}

body {
    background-color: #A3CEF1;
}

label {
    display: inline-block;
    text-align: left;
    width: 250px;
}

input[type=text] {
    width: 180px;
    justify-content: right;
}

input[type="submit"]:not(#deletebutton) {
    width: 30px;
    font-size: 16px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: rgb(115, 216, 115);
    border-color: rgb(115, 216, 115);
    border-style: solid;
}

textarea {
    font-size: 16px;
    font-family: Helvetica;
    margin-top: 2%;
    width: 180px;
    height: 100px;
}

#container {
    display: flex;
    justify-content: space-between;
}

#container_one {
    background-color: #FFFFFC;
    width: 17.5%;
    height: 700px;
    border-radius: 50px;
    margin-left: 10%;
    min-width: 150px;
}

#container_two {
    background-color: #FFFFFC;
    width: 57.5%;
    height: 700px;
    border-radius: 50px;
    margin-right: 10%;
    min-width: 250px;
}

#content {
    font-size: 22px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #386FA4;
    border-color: #386FA4;
    border-style: solid;
}

#analysis {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #D6D30E;
    border-color: #D6D30E;
    border-style: solid;
}

ul {
    text-align: left;
}

form, ul {
    margin: 15px 0 15px 5%;
}

#title {
    text-align: center;
}

#buttoncontainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#deletebutton {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #DD2424;
    border-color: #DD2424;
    border-style: solid;
}